# --- CoreSQL App Data ---
tables/*.csv

# --- Java & Maven ---
*.class
*.log
*.jar
*.war
target/
build/
out/
hs_err_pid*

# --- IDEs ---
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
bin/


legacy_cpp/build/
